<h2>{{model.title}}</h2>
<h1>{{input value=model.time}}</h1>
An {{input type="checkbox" checked=model.on}}
Täglich {{input type="checkbox" checked=model.repeated}}

<h1 {{action "save"}}>Speichern</h1>
<h1 {{action "cancel"}}>Abbrechen</h1>
<h1 {{action "deleteAlarm" model}}>Löschen</h1>