<h2>{{model.title}}</h2>
<h1>{{input value=model.time}}</h1>
An {{input type="checkbox" checked=model.on}}
Täglich {{input type="checkbox" checked=model.repeated}}

<button {{action "save" model}}>Speichern</button>