<div class="editWrapper">
    <div {{action "toggleOnOff" model}} class="onofftoggle {{if model.on 'toggleOn'}}">
        <div class="switch"></div>
    </div>
    <form class="inputTitle">{{input value=model.title}}</form>
    <form class="inputTime">{{input type="time" value=model.time}}</form>
    <div class="repeatList">
        <h3 {{action "toggleMonday" model}} class="day {{if model.monday 'dayOn'}}">MON</h3>
        <h3 {{action "toggleThuesday" model}} class="day {{if model.thuesday 'dayOn'}}">THU</h3>
        <h3 {{action "toggleWednsday" model}} class="day {{if model.wednsday 'dayOn'}}">WED</h3>
        <h3 {{action "toggleThursday" model}} class="day {{if model.thursday 'dayOn'}}">THU</h3>
        <h3 {{action "toggleFriday" model}} class="day {{if model.friday 'dayOn'}}">FRI</h3>
        <h3 {{action "toggleSaturday" model}} class="day {{if model.saturday 'dayOn'}}">SAT</h3>
        <h3 {{action "toggleSunday" model}} class="day {{if model.sunday 'dayOn'}}">SUN</h3>
    </div>

    <h1 {{action "save"}}>Speichern</h1>
    {{#link-to "index" tagName="h1"}}Abbrechen{{/link-to}}
    <h1 {{action "deleteAlarm" model}}>Löschen</h1>
</div>