{{#each model as |alarm|}}
    <div class="alarmListItem {{if alarm.on "alarmOn" "alarmOff"}}">
        <h1 class="delete" {{action "deleteAlarm" alarm}}>x</h1>
        {{#link-to "alarms.edit" alarm tagName="h2"}}
            {{alarm.title}}
        {{/link-to}}
        <div class="timeToggleWrapper">
            {{#link-to "alarms.edit" alarm tagName="h1" class="alarmTime"}}
                {{alarm.time}}
            {{/link-to}}
            <div {{action "toggleOnOff" alarm}} class="onofftoggle {{if alarm.on 'toggleOn'}}">
                <div class="switch"></div>
            </div>
        </div>
        {{#link-to "alarms.edit" alarm tagName="div" class="repeatList"}}
            <p class="day {{if alarm.monday 'dayOn'}}">MON</p>
            <p class="day {{if alarm.tuesday 'dayOn'}}">TUE</p>
            <p class="day {{if alarm.wednsday 'dayOn'}}">WED</p>
            <p class="day {{if alarm.thursday 'dayOn'}}">THU</p>
            <p class="day {{if alarm.friday 'dayOn'}}">FRI</p>
            <p class="day {{if alarm.saturday 'dayOn'}}">SAT</p>
            <p class="day {{if alarm.sunday 'dayOn'}}">SON</p>
        {{/link-to}}
    </div>
{{else}}

    <h3 class="nodatamessage">Sleep in well <br> or <br> do you want to {{link-to 'get things done' 'alarms.new'}}?</h3>

{{/each}}

{{#link-to "alarms.new" tagName="div"}}
    <div class="alarmNew">
        <div class="horizontal"></div>
        <div class="vertical"></div>
    </div>
{{/link-to}}