{{#each model as |alarm|}}
    <div class="alarmListItem {{if alarm.on 'alarmOn'}}">
        {{#link-to "alarms.edit" alarm tagName="h3"}}
            {{alarm.title}}
        {{/link-to}}
        <div>
            {{#link-to "alarms.edit" alarm tagName="h1"}}
                {{alarm.time}}
            {{/link-to}}
            <div class="onoffswitch">
                <h1 {{action "deleteAlarm" alarm}}>x</h1>
            </div>    
        </div>
        
        <div class="repeatList">    
            {{#if alarm.repeated}}
                <strong>Täglich</strong>
            {{else}}
                <strong>Einmalig</strong>
            {{/if}}
        </div>
    </div>

{{/each}}
{{#link-to "alarms.new" tagName="div"}}
    <div class="alarmNew">
        <div class="horizontal"></div>
        <div class="vertical"></div>
    </div>
{{/link-to}}